* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<first section start>>>>>>>>>>>>>>>>>>>>>>>>>*/
.section-1 {
  background-color: #252b42;
  width: 1440px;
  height: 1132px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-section {
  width: 1322px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2 h2 {
  color: white;
}
.header {
  width: 815px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 700;
}
.menu ul {
  display: flex;
  gap: 20px;
}
.menu ul li {
  list-style: none;
  padding: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
}
.account ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
.account ul li {
  padding: 10px;
}
.account ul li a {
  text-decoration: none;
  color: white;
}
.join {
  background-color: #23a6f0;
  width: 132px;
  text-align: center;
  border-radius: 20px;
}

.medium-section {
  width: 1046px;
  height: 1028px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-section {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 50px;
  color: white;
  text-align: center;
}
.top-section > h4 {
  color: #23a6f0;
}
.top-section > h1 {
  font-size: 58px;
}
.top-section > h5 {
  font-size: 20px;
}
.top-sec-bottom ul {
  display: flex;
}
.top-sec-bottom ul li {
  list-style: none;
  border: 1px solid #23a6f0;
  padding: 15px 40px 15px 40px;
  border-radius: 5px;
  margin: 5px;
}
.top-sec-bottom ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.top-sec-bottom .first {
  background-color: #23a6f0;
}
.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.bottom-section .box {
  width: 329px;
  height: 292px;
  padding: 35px 40px 35px 40px;
}
.box .img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 70px;
  height: 76px;
  margin-bottom: 10px;
}
.box > h3 {
  margin-bottom: 10px;
}
.box > div {
  width: 50px;
  height: 2px;
  background-color: #e74040;
  margin-bottom: 10px;
}
.box > p {
  color: rgb(112, 108, 108);
}
.b-left > .img {
  background-color: #ffdcd1;
}
.b-center > .img {
  background-color: #b9eaa8;
}
.b-right > .img {
  background-color: white;
}
.b-left,
.b-center {
  background-color: white;
}
.b-right {
  background-color: #23a6f0;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<first section end>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<second section start>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section-2 {
  width: 1052px;
  height: 715px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 160px 0;
  gap: 10px;
}
.s2-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.s2-left > div {
  width: 94px;
  height: 7px;
  background-color: #e74040;
}
.s2-left > .h1 {
  font-size: 40px;
  font-weight: bold;
}
.s2-left > .h6 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.425);
}
.s2-left > a {
  text-decoration: none;
  color: #23a6f0;
}
.s2-right {
  display: flex;
  flex-direction: row;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<second section end>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<third section start>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section-3 {
  width: 1440px;
  height: 1128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 0;
  gap: 112px;
}

.s3-top {
  width: 1044px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.s3-top > .h5 {
  color: #23a6f0;
  font-size: 14px;
  font-weight: bold;
}
.s3-top > .h1 {
  font-size: 40px;
}
.s3-top > .h6 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.322);
}

.s3-bottom {
  display: flex;
  gap: 30px;
}
.box1-top {
  background-image: url(../images/product-cover1.png);
}
.box2-top {
  background-image: url(../images/product-cover2.png);
}
.box3-top {
  background-image: url(../images/product-cover3.png);
}
.box4-top {
  background-image: url(../images/product-cover4.png);
}
.box-img {
  width: 241px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.box-img > .h6 {
  width: 51px;
  height: 24px;
  border-radius: 3px;
  background: #e74040;
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.box-icons {
  width: 241px;
  height: 300px;
  padding: 25px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.box-icons > .h3 {
  font-size: 16px;
  font-weight: bold;
}
.box-icons > .h5 {
  color: rgba(0, 0, 0, 0.432);
}
.box-icons > .s-img {
  width: 83px;
  height: 24px;
}
.box-icons > .h4 {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.418);
}
.box-icons > .h4 > span {
  color: green;
}
.box-icons > .h6 > a {
  color: #23a6f0;
  border: 1px solid #23a6f0;
  padding: 10px 20px;
  border-radius: 37px;
  text-decoration: none;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<third section end>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<fourth section start>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section-4 {
  width: 1058px;
  height: 928px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-4 > .s4-top {
  width: 1044px;
  height: 44px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-4 > .s4-top > .h6 {
  color: #23a6f0;
  font-size: 14px;
  font-weight: bold;
}
.section-4 > .s4-top > .h1 {
  font-size: 40px;
  font-weight: bold;
}
.section-4 > .s4-top > .h5 {
  color: rgba(0, 0, 0, 0.411);
}
.s4-bottom {
  width: 1050px;
  height: 378px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.s4-box {
  width: 508px;
  height: 378px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 100px 0px 100px;
  gap: 30px;
}
.s4-box > .h4 {
  color: black;
  font-weight: bold;
}
.s4-box > .h6 {
  color: rgba(0, 0, 0, 0.438);
  text-align: center;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<fourth section end>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<fifth section start>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-5 > .s5-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.section-5 > .s5-text > .h6 {
  font-size: 14px;
  color: #23a6f0;
  font-weight: bold;
}
.section-5 > .s5-text > .h1 {
  font-size: 40px;
  font-weight: bold;
}
.section-5 > .s5-text > .h4 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.459);
  text-align: center;
}
.s5-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}
.s5-input > input {
  width: 570px;
  height: 58px;
}
.s5-input > .bottom {
  width: 117px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23a6f0;
  border-radius: 0 5px 5px 0;
}
.s5-input > .bottom > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<fifth section end>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<<<<<<<sixth section start>>>>>>>>>>>>>>>>>>>>>>>>*/
  .section-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-6>.s6-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 338px;
    background-color: #252b42;
    padding: 0 150px;
  }
  .s6-box>.h1{
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  .s6-box>.h6{
    font-size: 14px;
    color: white;
    
  }
  .box1-6{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 40px;
  }
  .box1-6>img{
    width: 112px;
    height: 24px;
  }
  .s6-box>ul>li{
    list-style: none ;
    padding: 10px;
  }
  .s6-box>ul>li>a{
    color: white;
    text-decoration: none;
  }


  .s6-bottom{
    margin: 50px;
  }
/*<<<<<<<<<<<<<<<<<<<<<<<<sixth section end>>>>>>>>>>>>>>>>>>>>>>>>>*/
